<app-menu></app-menu>
<app-studio-profile>
  <mat-grid-list cols="1" rowHeight="150px">
    <mat-grid-tile>
      <h1 class="title"> Overview </h1>
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="image"
        src="https://images.pexels.com/photos/63703/pexels-photo-63703.jpeg"
        alt=""
        width="300 px"
      />
    </mat-grid-tile>
    <mat-grid-tile>
      <p>
        A destination for emerging music and content creation. Providing a space for artists to express, create and collaborate freely.
        Ten 24hr State-of-the-Art acoustically treated production suites for all your artistic needs.
      </p>
    </mat-grid-tile>
  </mat-grid-list>
</app-studio-profile>

