.pi-star-fill {
  color: #e98b2f;
  padding: 10px;
  font-size: 1.5rem;
}

.main-description,
.about-section,
.reviews-section {
  gap: 1em;
}

.box-review {
  border-bottom: 1px solid #dae1e7;
}

  .p-rating .p-rating-star {
    height: 500px;
  }


.review-alert {
  color: red;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}
.review-alert-disabled {
  display: none;
}