<app-menu></app-menu>
  <app-studio-profile>
    <h1>Reviews</h1>
    <div>
      <span class="font-semibold text-2xl p-3"> 4.5 </span>
      <span class="px-2">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="px-2" style="font-size: 2rem">star</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="px-2" style="font-size: 2rem">star</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="px-2" style="font-size: 2rem">star</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="px-2" style="font-size: 2rem">star</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="px-2" style="font-size: 2rem">star</mat-icon>
      </span>
    </div>
    <div class="flex flex-column">
      <ul style="list-style: none">
        <li *ngFor="let review of reviewsData">
          <div class="grid box-review p-5">
            <div class="col flex flex-column justify-content-center m-2">
              <p class="font-semibold p-2">{{ review.username }}</p>
              <span clas="p-2"
                ><i class="pi pi-car p-2"></i>{{ review.date }}</span
              >
            </div>
            <div class="col">
              <div class="grid align-items-center p-2">
                <span class="font-semibold pl-6" style="font-size: 1.1rem">
                  {{ review.description }}
                </span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </app-studio-profile>
<app-footer></app-footer>
