
<div id =space>
  <div id="cuerpo">
    <h1>
      See all bookings

    </h1>

    <div>
      <mat-list>
        <mat-list-item>
          <mat-icon matListIcon>user</mat-icon>
          <h3 matLine>Heading</h3>
          <p matLine>Line</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListIcon>user</mat-icon>
          <h3 matLine>Heading 2</h3>
          <p matLine>Line 2</p>
        </mat-list-item>
      </mat-list>




    </div>


  </div>

</div>
