<header >
<mat-sidenav-container class="sidenav-container">
  <mat-toolbar >
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button [routerLink]="'/home'" mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button [routerLink]="'/bookings'" mat-menu-item>
        <mat-icon>calendar_today</mat-icon>
        <span>Booking</span>
      </button>
      <button [routerLink]="'/settings'" mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button [routerLink]="'/'" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <span class ="logo">CCMS </span>
    <span class="example-spacer"></span>
    <button mat-raised-button class ="button-profile"  [routerLink]="'/profile'">My Profile
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" >
      </button>

      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</mat-sidenav-container>

</header>
