sidenav-container {

}

.example-spacer {
  flex: 1 1 auto;

}
.mat-toolbar
{
  background: #438EBA;

}
.logo
{
  color: black;
}
.button-profile{
  background: #40AAE8;
}
.navbar{
  position: sticky;
  top:0px;
  z-index: 2500;
  width: 100%;

}
