
<app-studio-profile>
  <div>
    <h1> OVERVIEW</h1>
    <google-map width="100%" height="400" >
      <map-marker>
          <--! aqui se pomne las coordenas-->
      </map-marker>

    </google-map>

    <body>
      Lorem ipsum dolor sit amet consectetur adipiscing elit felis vitae, lacinia egestas mus nostra ac vehicula vivamus himenaeos ut vestibulum, porta euismod dapibus venenatis platea interdum etiam ornare. Accumsan velit volutpat venenatis metus nullam urna auctor ornare, ultricies morbi sodales viverra dui sagittis lacinia, porttitor natoque id netus tempor nostra molestie.

      Laoreet aliquet torquent ante auctor sociosqu penatibus condimentum eget nascetur hendrerit quis volutpat, eu gravida tristique cum luctus faucibus sem orci natoque dis neque.
    </body>

  </div>



</app-studio-profile>
<app-footer></app-footer>
