h1{
  font-size: xxx-large;
}
body1{
  margin: 10px;

  flex-direction: column;
  position: relative;




}
.div2{
  left: 30%;
  width: 60%;
  position: relative;
  padding-bottom: 5em;
  min-height:100vh;

}

img{
  width: 100%;

}

p{
  padding: 1em;
  margin:0px;
}
