<body class="body1">
<app-studio-profile></app-studio-profile>
<div class="div2">
<h1> OVERVIEW</h1>
<google-map width="90%" height="400" >

</google-map>
<p>
  Lorem ipsum dolor sit amet consectetur adipiscing elit felis vitae,
  lacinia egestas mus  nostra ac vehicula vivamus himenaeos ut
  vestibulum, porta euismod dapibus venenatis platea interdum etiam
  ornare. Accumsan velit volutpat venenatis metus nullam urna auctor
  ornare, ultricies morbi sodales viverra dui sagittis lacinia, porttitor
  natoque id netus tempor nostra molestie.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipiscing elit felis vitae,
  lacinia egestas mus  nostra ac vehicula vivamus himenaeos ut
  vestibulum, porta euismod dapibus venenatis platea interdum etiam
  ornare. Accumsan velit volutpat venenatis metus nullam urna auctor
  ornare, ultricies morbi sodales viverra dui sagittis lacinia, porttitor
  natoque id netus tempor nostra molestie.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipiscing elit felis vitae,
  lacinia egestas mus  nostra ac vehicula vivamus himenaeos ut
  vestibulum, porta euismod dapibus venenatis platea interdum etiam
  ornare. Accumsan velit volutpat venenatis metus nullam urna auctor
  ornare, ultricies morbi sodales viverra dui sagittis lacinia, porttitor
  natoque id netus tempor nostra molestie.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipiscing elit felis vitae,
  lacinia egestas mus  nostra ac vehicula vivamus himenaeos ut
  vestibulum, porta euismod dapibus venenatis platea interdum etiam
  ornare. Accumsan velit volutpat venenatis metus nullam urna auctor
  ornare, ultricies morbi sodales viverra dui sagittis lacinia, porttitor
  natoque id netus tempor nostra molestie.
</p>
</div>
<app-footer></app-footer>
</body>




