<div class="bookings-container">
    <div class="heading">
        <h1>Booking detail</h1>
    </div>
    <div class="booking-details">
        <div class="studio-container">
            <img src="https://images.pexels.com/photos/164938/pexels-photo-164938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image of the studio">
            <div class="studio-details">
                <h2>Studio 214 UPC</h2>
                <p>A destination for emerging music and content creation. Providing a space for artists to express, create and collaborate freely.
                    Ten 24hr State-of-the-Art acoustically treated production suites for all your artistic needs.</p>
                <div class="buttons">
                    <div>
                        <button mat-flat-button color="primary">Check bill</button>
                    </div>
                    <div>
                        <button mat-flat-button color="primary">Go to studio profile</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="studio-container">
            <div class="schedule">
                <h2>Schedule</h2>
                <p>18/04/2022 : 7:00 am</p>
                <p>18/04/2022 : 7:00 am</p>
                <p>18/04/2022 : 7:00 am</p>
            </div>
            <img src="https://static.vecteezy.com/system/resources/previews/001/977/224/original/gps-map-with-pin-illustration-free-vector.jpg" alt="image of the studio">
        </div>
    </div>
</div>