<app-menu></app-menu>
<app-studio-profile>
  <div class="conteiner">
    <h1>EQUIPMENT</h1>

    <h2>Microphones</h2>
    <div class="conteiner__equipment">
      
      <div class="card_equipment">
        <img src="https://www.monterreydelsur.com/888/microfono-core-300.jpg" alt="img">
        <h3>Coles 4038</h3>
      </div>
      <div class="card_equipment">
        <img src="https://www.monterreydelsur.com/888/microfono-core-300.jpg" alt="img">
        <h3>Coles 4038</h3>
      </div>
      <div class="card_equipment">
        <img src="https://www.monterreydelsur.com/888/microfono-core-300.jpg" alt="img">
        <h3>Coles 4038</h3>
      </div>
    </div>
    <mat-divider></mat-divider>
    <br>
    <h2>DRAW</h2>
    <mat-divider></mat-divider>
    <div class="conteiner__equipment">
      
      <div class="card_equipment">
        <img src="https://www.monterreydelsur.com/888/microfono-core-300.jpg" alt="img">
        <h3>Coles 4038</h3>
      </div>
      <div class="card_equipment">
        <img src="https://www.monterreydelsur.com/888/microfono-core-300.jpg" alt="img">
        <h3>Coles 4038</h3>
      </div>
      <div class="card_equipment">
        <img src="https://www.monterreydelsur.com/888/microfono-core-300.jpg" alt="img">
        <h3>Coles 4038</h3>
      </div>
    </div>
  </div>
</app-studio-profile>
<app-footer></app-footer>
