
<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <img src="https://images.pexels.com/photos/63703/pexels-photo-63703.jpeg">
  </mat-grid-tile>
  <mat-grid-tile>
    <form [formGroup]="signUpForm">
      <div>
        <mat-grid-list cols="1" rowHeight="100px">

          <mat-grid-tile>
            <mat-form-field style="width: 100%">
              <mat-label>Email</mat-label>
              <input matInput placeholder="user@domain.com" formControlName="email" required/>
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <mat-error *ngIf="email.errors?.['email']">Your must enter valid email address.</mat-error>
                <mat-error *ngIf="email.errors?.['required']">Email is required.</mat-error>
              </div>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field style="width: 100%">
              <mat-label>Full Name</mat-label>
              <input matInput type="text" placeholder="Your name" formControlName="name" required/>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field style="width: 100%">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Your password" formControlName="password" required/>
              <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <mat-error *ngIf="password.errors?.['minlength']">Password must be at least 6 characters length.</mat-error>
                <mat-error *ngIf="password.errors?.['required']">Password is required.</mat-error>
              </div>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select formControlName="role">
                <mat-option value="artist">Artist</mat-option>
                <mat-option value="studio">Studio</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>


        </mat-grid-list>
      </div>
      <mat-card-actions align="end">
        <button mat-button class="material-button" (click)="signUp()">Sign-In</button>
      </mat-card-actions>
    </form>
  </mat-grid-tile>

</mat-grid-list>


