<app-menu></app-menu>
<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>SEARCH</mat-label>
  <input matInput type="text" [(ngModel)]="value">
  <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>
<div class="trending-container">
  <h2> Trending </h2>
  <div class="trending-cards">
    <mat-card class="card">
      <img mat-card-image src="https://images.pexels.com/photos/164938/pexels-photo-164938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Photo of a Shiba Inu">
      <mat-card-header >
        <mat-card-title >Studio 214 UPC</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          A destination for emerging music and content creation. Providing a space for artists to express, create and collaborate freely.
          Ten 24hr State-of-the-Art acoustically treated production suites for all your artistic needs.
        </p>
      </mat-card-content>
      <mat-card-subtitle>18/04/2022 : 7:00 am</mat-card-subtitle>
      <mat-card-actions>
        <a href="/studio-profile/overview" ><button mat-stroked-button>See more</button></a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <img mat-card-image src="https://images.pexels.com/photos/164938/pexels-photo-164938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Photo of a Shiba Inu">
      <mat-card-header >
        <mat-card-title >Studio 214 UPC</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          A destination for emerging music and content creation. Providing a space for artists to express, create and collaborate freely.
          Ten 24hr State-of-the-Art acoustically treated production suites for all your artistic needs.
        </p>
      </mat-card-content>
      <mat-card-subtitle>18/04/2022 : 7:00 am</mat-card-subtitle>
      <mat-card-actions>
        <a href="/studio-profile/overview"><button mat-stroked-button>See more</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="recently-container">
  <h2> Recently Seen </h2>
  <div class="recently-cards">
    <mat-card class="card">
      <img mat-card-image src="https://images.pexels.com/photos/164938/pexels-photo-164938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Photo of a Shiba Inu">
      <mat-card-header >
        <mat-card-title >Studio 214 UPC</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          A destination for emerging music and content creation. Providing a space for artists to express, create and collaborate freely.
          Ten 24hr State-of-the-Art acoustically treated production suites for all your artistic needs.
        </p>
      </mat-card-content>
      <mat-card-subtitle>18/04/2022 : 7:00 am</mat-card-subtitle>
      <mat-card-actions>
        <a href="/studio-profile/overview"><button mat-stroked-button>See more</button></a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <img mat-card-image src="https://images.pexels.com/photos/164938/pexels-photo-164938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Photo of a Shiba Inu">
      <mat-card-header >
        <mat-card-title >Studio 214 UPC</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          A destination for emerging music and content creation. Providing a space for artists to express, create and collaborate freely.
          Ten 24hr State-of-the-Art acoustically treated production suites for all your artistic needs.
        </p>
      </mat-card-content>
      <mat-card-subtitle>18/04/2022 : 7:00 am</mat-card-subtitle>
      <mat-card-actions>
        <a href="/studio-profile/overview"><button mat-stroked-button>See more</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="near-container">
  <h2> <a href="/home/near-you"> Near you</a> </h2>
  <div class="near-cards">
    <mat-card class="card">
      <img mat-card-image src="https://images.pexels.com/photos/164938/pexels-photo-164938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Photo of a Shiba Inu">
      <mat-card-header >
        <mat-card-title >Studio 214 UPC</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          A destination for emerging music and content creation. Providing a space for artists to express, create and collaborate freely.
          Ten 24hr State-of-the-Art acoustically treated production suites for all your artistic needs.
        </p>
      </mat-card-content>
      <mat-card-subtitle>18/04/2022 : 7:00 am</mat-card-subtitle>
      <mat-card-actions>
        <a href="/studio-profile/overview"><button mat-stroked-button>See more</button></a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <img mat-card-image src="https://images.pexels.com/photos/164938/pexels-photo-164938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Photo of a Shiba Inu">
      <mat-card-header >
        <mat-card-title >Studio 214 UPC</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          A destination for emerging music and content creation. Providing a space for artists to express, create and collaborate freely.
          Ten 24hr State-of-the-Art acoustically treated production suites for all your artistic needs.
        </p>
      </mat-card-content>
      <mat-card-subtitle>18/04/2022 : 7:00 am</mat-card-subtitle>
      <mat-card-actions>
        <a href="/studio-profile/overview"><button mat-stroked-button>See more</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

