
<a mat-button [routerLink]="'/studio-profile/overview'">Overview</a>
<a mat-button [routerLink]="'/studio-profile/gallery'">Gallery</a>
<a mat-button [routerLink]="'/studio-profile/reviews'">Reviews</a>
<a mat-button [routerLink]="'/studio-profile/bookings'">Bookings</a>
<a mat-button [routerLink]="'/studio-profile/equipment'">Equipment</a>
<mat-divider [vertical]="true" [inset]="true"></mat-divider>
<mat-card class="example-card">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>
<ng-content></ng-content>

