<app-menu></app-menu>


<mat-divider [vertical]="true" [inset]="true"></mat-divider>
<div class ="container1">
  <div class="container">
    <img mat-card-image src="https://blog.laminasyaceros.com/hubfs/IMG_5903.jpg" alt="Photo of a Shiba Inu">
    <div class="top-right">
      <h1 class="titleStudio">Studio 214 -UPC</h1>
      <p class="description">
        descirpcion del estudio snajsnsajsn jsajasbs jassajns j ansj ajas najn jasn jasnjASN JASN JAN S  SNAJSNJAS N SAJN JSAN NASJN SJANN AJSNJ ASNAJ NJSN

      </p>
      <p class ="address">
        address
      </p>
    </div>
  </div>
<div>
  <mat-toolbar class="menubar">
    <mat-toolbar-row>
      <a mat-button [routerLink]="'/studio-profile/overview'">Overview</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a mat-button [routerLink]="'/studio-profile/gallery'">Gallery</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a mat-button [routerLink]="'/studio-profile/reviews'">Reviews</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a mat-button [routerLink]="'/studio-profile/bookings'">Bookings</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a mat-button [routerLink]="'/studio-profile/equipment'">Equipment</a>
    </mat-toolbar-row>

  </mat-toolbar>
</div>

<ng-content></ng-content>

</div>
