
<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <img src="https://images.pexels.com/photos/63703/pexels-photo-63703.jpeg">
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="form">
      <div class="heading">Create your account</div>
      <div>See what is going on with studios around you
        <button mat-button><mat-icon aria-hidden="false" aria-label="Example home icon">Google</mat-icon>Continue with Google</button>
      </div>
      <h3 class="boxTitle">Full Name</h3>
      <mat-form-field appearance="fill">
        <mat-label>Full Name</mat-label>
        <input matInput>
      </mat-form-field>

      <h3 class="boxTitle">Email</h3>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput>
      </mat-form-field>

      <h3 class="boxTitle">Password</h3>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput>
      </mat-form-field>

      <h3 class="boxTitle">Confirm Password</h3>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" [routerLink]="'/home'">Sign up</button>
      </div>

    </div>
  </mat-grid-tile>

</mat-grid-list>


