.box{
  max-width: 1200px;
}

.container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-content: center ;

}

.card1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.example-card img{
  height: 250px;
  min-width: 100%;
  object-fit: cover;
}

